body {
  font-family: system-ui;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
}

header {
  padding: 1rem;
  text-align: center;
}

#map {
  height: 100%;
}

form {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

button,
input,
select {
  font: inherit;
}
